<li th:fragment="colormodes" class="nav-item">
    <div class="theme-control-toggle fa-icon-wait px-2">
        <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox"
            data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
        <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle"
            data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Switch theme"
            style="height:32px;width:32px;">
            <span class="icon" data-feather="moon"></span>
        </label>
        <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle"
            data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Switch theme"
            style="height:32px;width:32px;">
            <span class="icon" data-feather="sun"></span>
        </label>
    </div>
</li>