<li th:fragment="dropdown-ai" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
        <span class="uil fs-7 me-2 uil-brain"></span>A.I.
    </a>
    <ul class="dropdown-menu navbar-dropdown-caret">
        <li>
            <a class="dropdown-item" th:href="@{/upload}">
                <div class="dropdown-item-wrapper">
                    <span class="me-2 uil fs-8 uil-file-upload-alt"></span>Upload Document
                </div>
            </a>
        </li>
    </ul>
</li>