<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{authlayout.html}">
<head>
    <title>Admin Login</title>
</head>
<body>
    <div layout:fragment="content" class="row flex-center min-vh-100 py-5">
        <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">

            <a class="d-flex flex-center text-decoration-none mb-4" href="#">
                <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
                    <img th:src="@{/assets/img/icons/logo.png}" alt="phoenix" width="58" />
                </div>
            </a>
            <div class="text-center mb-7">
                <h3 class="text-body-highlight">Sign In</h3>
                <p class="text-body-tertiary">Get access to your account</p>
            </div>
            <div class="position-relative">
                <hr class="bg-body-secondary mt-5 mb-4" />
                <div class="divider-content-center">with your email and password</div>
            </div>

            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Invalid credentials. Please try again.
            </div>

            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                You have been signed out successfully.
            </div>

            <form th:action="@{/login}" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="mb-3 text-start">
                    <label class="form-label" for="email">Email</label>
                    <div class="form-icon-container">
                        <input class="form-control form-icon-input" name="email" id="email" type="email" placeholder="Email" />
                        <span class="fas fa-user text-body fs-9 form-icon"></span>
                    </div>
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label" for="password">Password</label>
                    <div class="form-icon-container" data-password="data-password">
                        <input class="form-control form-icon-input pe-6" name="password" id="password" type="password" placeholder="Password" data-password-input="data-password-input" /><span class="fas fa-key text-body fs-9 form-icon"></span>
                        <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle"><span class="uil uil-eye show"></span><span class="uil uil-eye-slash hide"></span></button>
                    </div>
                </div>
                <div class="row flex-between-center mb-7">
                    <div class="col-auto">
                        <div class="form-check mb-0">
                            <input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" />
                            <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a class="fs-9 fw-semibold" href="#">Forgot Password?</a>
                    </div>
                </div>
                <button class="btn btn-primary w-100 mb-3" type="submit">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
