<!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
<head>
    <title>Add Filter</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h1 class="h5">Create</h1>
                    </div>
                    <div class="card-body">
                        
                        <div th:if="${errors}" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <ul>
                                <li th:each="err : ${errors}" th:text="${err}"></li>
                            </ul>
                        </div>

                        <form th:action="@{/filters/add}" th:object="${filter}" method="post">
                            <div class="mb-3">
                                <label class="form-label" for="name">Name</label>
                                <input class="form-control" type="text" th:field="*{name}" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="value">Value</label>
                                <input class="form-control" type="text" th:field="*{value}" />
                            </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Add Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h5">Teams by league</h2>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-2">
                            <a th:href="@{/}" class="btn btn-outline-secondary">MLB</a>
                            <a th:href="@{/}" class="btn btn-outline-secondary">NBA</a>
                            <a th:href="@{/}" class="btn btn-outline-secondary">NFL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>