<!-- <!DOCTYPE html>
<html lang="en" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
<head>
    <title th:text="${league} + ' ' + Teams"></title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-8">
                <div th:if="${success}" class="alert alert-success" role="alert">
                    <p class="mb-0" th:text="${success}"></p>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h1 class="h5" th:text="${league} + ' ' + Teams"></h1>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive scrollbar">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Team</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="team : ${teams}">
                                        <td th:text="${team.name}" scope="row"></td>
                                        <td><a th:href="@{/}">View</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h5">Teams by league</h2>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-2">
                            <a th:href="@{/teams/league/MLB}" class="btn btn-outline-secondary">MLB</a>
                            <a th:href="@{/teams/league/NBA}" class="btn btn-outline-secondary">NBA</a>
                            <a th:href="@{/teams/league/NFL}" class="btn btn-outline-secondary">NFL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> -->